body  {
  background-image: url("bgMenuTermianl.jpg");
  background-size: cover;                      
  background-repeat: no-repeat;
  color: #088A08;
}

#rank {
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
	position: absolute;
	display: inline;
	left: 30%;
	top: 24%;
	background-image: linear-gradient(to bottom right, black, transparent); 
	border: 3px solid black;
}