body {
	background-image: url("terminal.jpg");
	background-size: cover;                      
    background-repeat: no-repeat;
   
}

#box1 {
	/**height: 517px;
 	width: 682px;**/

 	height: 80%;
 	width: 50%;
 	background-image: url("centre_terminal.png");
 	background-size: cover;                      
    background-repeat: no-repeat;
 	position: absolute;
 	padding-top: 1.5%;
 	padding-left: 1%;
 	/**left: 310px;
 	top: 110px;**/
 	left: 25%;
 	top: 16%;
 	color: #088A08;
}

#box2 {
	background-color: transparent;
	padding: 5%;
}

#table1 {	
	color: #088A08;
	align: left;
	table-layout: fixed;
	width: 100%;
}

#intents {
	font-weight: bold;
}


th.column1 {
	width: 10%;
	padding: 0;
}

th.column2 {
	width: 25%;
	padding: 0;
}

#titolIntents {
	width: 40%;
}

#barraProgres {
	width: 20%;
}

#progressbar>div {
  background-color:  #088A08;
  width: 25%;
  height: 15px;
  border-right: 2px solid black;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  color: #088A08;
  background-color: #088A08;
  border: 0;
  border-radius: 0px;
  width: 0;
  min-width: 2%;
}
progress::-webkit-progress-bar {
  -webkit-appearance: none;
  appearance: none;
  color: #088A08;
  background-color: #088A08;
  border: 0;
  border-radius: 0px;
  width: 0;
  min-width: 2%;
}
progress::-webkit-progress-value {
 -webkit-appearance: none;
  appearance: none;
  color: #088A08;
  background-color: #088A08;
  border: 0;
  border-radius: 0px;
  width: 0;
  min-width: 2%;
} 
progress::-moz-progress-bar {
 -webkit-appearance: none;
  appearance: none;
  color: #088A08;
  background-color: #088A08;
  border: 0;
  border-radius: 0px;
  width: 0;
  min-width: 2%;
}

h4 {
	padding: 2px;
	margin: 0px;
}

